#login-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 30px auto;
}

#login-form label {
  display: flex;
}
#login-form input {
  width: 230px;
  margin-left: auto;
}
